.buttonList {
    display: flex;
    list-style-type: none;
    padding: 0;
}

@media(max-width: 767px) {
    .buttonList {
        flex-direction: column;
        align-items: center;
    }
}

.buttonList--hidden {
    display: none;
}

.buttonList__item {
    margin: 10px 0;
    padding-left: 15px;
}

@media(max-width: 767px) {
    .buttonList__item {
        padding: 0;
    }
}

.buttonList__button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: hsl(180, 100%, 25%);
    transition: color 0.3s;
}

.buttonList__button:hover {
    cursor: pointer;
    color: hsl(180, 100%, 35%);
}