.form {
    margin: 0 auto;
    font-size: 16px;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
    border: 1px solid #ccc;
}

.form__button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    border: none;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    cursor: pointer;
}