.form {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.form__input {
    flex-basis: 75%;
    padding: 10px;
}

@media(max-width: 767px) {
    .form__input {
        margin-bottom: 10px;
        flex-basis: 90%;
    }
}

.form__button {
    flex-basis: 20%;
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    border: none;
}

.form__button:hover {
    background-color: hsl(180, 100%, 35%);
    cursor: pointer;
}

@media(max-width: 767px) {
    .form__button {
        margin-bottom: 10px;
        flex-basis: 90%;
    }
}