.taskList {
    width: 80%;
    list-style-type: none;
    margin: 5px auto;
    padding: 5px 0;
}

.taskList__item {
    margin-bottom: 10px;
}

.taskList__paragraph {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 30px 70% 30px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.taskList__span {
    display: block;
    overflow-wrap: break-word;
}

.taskList__span--done {
    text-decoration: line-through;
}

.taskList__button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.taskList__button:hover {
    cursor: pointer;
}

.taskList__button--done {
    background-color: #090;
    color: #fff;
}

.taskList__button--done:hover {
    background-color: #0c0;
}

.taskList__button--remove {
    background-color: #f00;
    color: #fff;
}

.taskList__button--remove:hover {
    background-color: #f60;
}