.taskList {
    list-style-type: none;
}

.taskList__item {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.taskList__paragraph {
    width: 60%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 20px 80%;
    grid-template-rows: auto;
    align-items: center;
}

.taskList__span {
    display: block;
    overflow-wrap: break-word;
}

.taskList__span--done {
    text-decoration: line-through;
}

.taskList__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.taskList__button:hover {
    cursor: pointer;
}

.taskList__button--done {
    background-color: #090;
    color: #fff;
}

.taskList__button--done:hover {
    background-color: #0c0;
}

.taskList__button--remove {
    background-color: #f00;
    color: #fff;
}

.taskList__button--remove:hover {
    background-color: #f60;
}